@model List<EntityFramework_DemoProject.Models.Members>
@{
    ViewBag.Title = "MembersTB";
}
<head>
    <style>
        #Field {
            border-collapse: collapse;
            width: 100%;
        }

            #Field td, #Field th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #Field tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #Field tr:hover {
                background-color: #ddd;
            }

            #Field th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }
    </style>
</head>
<div class="row">
    <div class="col-sm-3">
        <a class="btn-primary btn" id="btnAdd" href="@Url.Action("UserDetails", "Member", new {id=0})">AddUser</a>
    </div>

</div>
<table id="Field">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Address</th>
            <th>University</th>
            <th>Type</th>
            <th>MobileNo</th>
            <th>EmailId</th>
            <th>Department</th>
            <th>City</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{if (Model.Count() > 0)
            {
                foreach (var items in Model)
                {
                    <tr>
                        <td>@items.Name</td>
                        <td>@items.Gender</td>
                        <td>@items.Age</td>
                        <td>@items.Address</td>
                        <td>@items.University</td>
                        <td>@items.SelectType</td>
                        <td>@items.Email_ID</td>
                        <td>@items.MobileNo</td>
                        <td>@items.Department</td>
                        <td>@items.City</td>
                        <td>
                            <a href="@Url.Action("UserDetails", "MemberTable", new {id=items.Id})">Edit</a>|
                            <a href="@Url.Action("DeleteUser", "MemberTable", new {id=items.Id})">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr style="text-align:center">
                    <td colspan="12">No Records Found</td>
                </tr>
            }
        }

    </tbody>
</table>




