@model 
@{
    ViewBag.Title = "ForgotPassword";
}

<head>
    <style>
        .Password-container {
            margin: 100px auto;
            border-radius: 5px;
            box-shadow: 0 0 5px;
            padding: 50px;
        }

        sup {
            color: #f00;
            font-weight: bolder;
        }

        small {
            color: #f00;
            font-weight: bolder;
        }

        .imageset {
            background-image: url("../../Content/Images/undraw_Forgot_password_re_hxwm.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }

        label {
            font-weight: bold;
        }
    </style>
</head>
<div class="Password-container w-50 container">
    <div class="row">
        <div class="col-6">
            <h2>
                Reset Password Here!!
            </h2>
            @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Email_ID, new { @class = "form-label" })
                    <sup>*</sup>
                    <div class="input-group">
                        @Html.EditorFor(m => m.Email_ID, "", new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <small>
                        @Html.ValidationMessageFor(m => m.Email_ID, "", new { htmlattribute = new { @class = "text-danger" } })
                    </small>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.New_Password, new { @class = "form-label" })
                    <sup>*</sup>
                    <div class="input-group">
                        @Html.EditorFor(m => m.New_Password, "", new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <small>
                        @Html.ValidationMessageFor(m => m.New_Password, "", new { htmlAttributes = new { @class = "text-danger" } })
                    </small>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Confirm_Password, new { @class = "form-label" })
                    <sup>*</sup>
                    <div class="input-group">
                        @Html.EditorFor(m => m.Confirm_Password, "", new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <small>
                        @Html.ValidationMessageFor(m => m.Confirm_Password, "", new { htmlattribute = new { @class = "text-danger" } })
                    </small>
                </div>
                <div class="mt-2">
                    <button type="submit" class="btn-primary btn">Submit</button>
                </div>
                <div>
                    @Html.ActionLink("Back to Login!!", "Login", "User", new { @class = "nav-link" })
                </div>
                <div>
                    <p class="text-bg-success">@TempData["Sucess"]</p>
                    <p class="text-bg-danger">@TempData["Error"]</p>
                </div>
            }
        </div>
        <div class="col-6 imageset"></div>
    </div>
</div>

