@model EntityFramework_DemoProject.Models.Register
@{
    ViewBag.Title = "ForgotPassword";
}

<head>
    <style>
        .Password-container {
            //margin: 100px auto;
            border-radius: 5px;
            box-shadow: 0 0 5px;
            padding: 50px;
            background-color: #D4D6B9;
        }

        sup {
            color: #f00;
            font-weight: bolder;
        }

        small {
            color: #f00;
            font-weight: bolder;
        }

        label {
            font-weight: bold;
        }
    </style>
</head>
<div class="Password-container  container-fluid">
        <h2>
            Reset Password Here!!
        </h2>
        @using (Html.BeginForm("ResetPassword", "Users", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.Email_ID, new { @class = "form-label" })
                <sup>*</sup>
                <div class="input-group">
                    @Html.EditorFor(m => m.Email_ID, "", new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <small>
                    @Html.ValidationMessageFor(m => m.Email_ID, "", new { htmlattribute = new { @class = "text-danger" } })
                </small>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                <sup>*</sup>
                <div class="input-group">
                    @Html.EditorFor(m => m.Password, "", new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <small>
                    @Html.ValidationMessageFor(m => m.Password, "", new { htmlAttributes = new { @class = "text-danger" } })
                </small>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                <sup>*</sup>
                <div class="input-group">
                    @Html.EditorFor(m => m.ConfirmPassword, "", new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <small>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { htmlattribute = new { @class = "text-danger" } })
                </small>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn-primary btn">Submit</button>
            </div>
            <div>
                @Html.ActionLink("Back to Login!!", "SignIn", "Users", new { @class = "nav-link" })
            </div>
            <div>
                <p class="text-bg-success">@TempData["Sucess"]</p>
                <p class="text-bg-danger">@TempData["Error"]</p>
            </div>
        }
    </div>


