@model List<EntityFramework_DemoProject.Models.ClubsModel>
@{
    ViewBag.Title = "EventTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        #Field {
            border-collapse: collapse;
            width: 100%;
        }

            #Field td, #Field th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #Field tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #Field tr:hover {
                background-color: #ddd;
            }

            #Field th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: antiquewhite;
                color: black;
            }

        #atn {
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: green;
            border-radius: 50%;
        }

        #nonatn {
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: red;
            border-radius: 50%;
        }

        #clubs {
            font-weight: bold;
        }
        label{
            font-weight:bold;
        }
    </style>
</head>
<h1 class="text-center">
    Events
</h1>
<br />
<div class="row">
    @using (Html.BeginForm("SearchBy", "Event", FormMethod.Post, new { @class = "registration-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-3">
                <a class="btn-primary btn" id="btnAddevent" href="@Url.Action("EventDetails", "Event", new { id = 0 })">AddEvent</a>
            </div>
            <div class="col-3">
                @Html.TextBox("search", null, new { @class = "form-control-sm d-inline-block" })
                <input id="btnsearch" class="btn-secondary btn" type="submit" value="search" />
            </div>
            <div class="col-3">
                <label style="font-size:larger">
                    Total Members:@ViewBag.Count
                </label>
            </div>
            <div class="col-3">
                <a class="btn-success btn" id="btnAdd" href="@Url.Action("EventTable", "Event")">GetAllUser</a>
            </div>
        </div>
        <br />
        <div class="row" id="clubs">
            <div class="col-3">
                NSS-National Service Scheme
            </div>
            <div class="col-2">
                YRC-Youth Red Cross
            </div>
            <div class="col-3">
                TTC-Tech Trends Club
            </div>
            <div class="col-2">
                <p>Attended - <span id="atn"></span></p>
            </div>
            <div class="col-2">
                <p>Not Attended - <span id="nonatn"></span></p>
            </div>
        </div>
    }
</div>
<table id="Field">
    <thead>
        <tr>
            <th>MemberName</th>
            <th>Venue</th>
            <th>EventDate</th>
            <th>NSS</th>
            <th>YRC</th>
            <th>TTC</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{if (Model.Count() > 0)
            {
                foreach (var items in Model)
                {
                    <tr>
                        <td>@items.MemberName</td>
                        <td>@items.Venue</td>
                        <td>@items.Event_Date.Date</td>
                        <td>
                            @items.NSS
                            @if (items.NSS == "Attended")
                            {<span id="atn"></span>}
                            else
                            {<span id="nonatn"></span>}
                        </td>
                        <td>
                            @items.YRC
                            @if (items.YRC == "Attended")
                            {<span id="atn"></span>}
                            else
                            {<span id="nonatn"></span>}
                        </td>
                        <td>
                            @items.TTC
                            @if (items.TTC == "Attended")
                            {<span id="atn"></span>}
                            else
                            {<span id="nonatn"></span>}
                        </td>
                        <td>
                            <a href="@Url.Action("EventDetails", "Event", new {id=items.Id})">Edit</a>|
                            <a href="@Url.Action("DeleteEvent", "Event", new {id=items.Id})">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr style="text-align:center">
                    <td colspan="12">No Records Found</td>
                </tr>
            }
        }
    </tbody>
</table>


